.Comments {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.comment-content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.comment {
    background-color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    gap: 15px;
    position: relative;
    padding: 1rem 2rem;
    border-radius: 10px;
}

@media screen and (min-width: 1000px) {
    .comment {
        flex-direction: row;
        gap: 30px;
    }
}

.reply-comment {
    margin-left: 20px;
}

@media screen and (min-width: 1000px) {
    .reply-comment {
        margin-left: 100px;
    }
}

.reply-comment::before {
    background-color: hsl(0, 0%, 80%);
    content: " ";
    position: absolute;
    left: -13px;
    top: 0;
    width: 1px;
    height: 100%;
}

.reply-comment + .reply-comment::before {
    top: -2rem;
    height: calc(100% + 2rem);
}

@media screen and (min-width: 1000px) {
    .reply-comment::before {
        left: -50px;
    }
}

.reply-comment span {
    color: hsl(239, 100%, 56%);
    font-weight: 700;
}

.comment-ratings-wrapper {
    display: flex;
}

.comment-ratings {
    background-color: hsl(240, 100%, 98%);
    color: hsl(240, 100%, 60%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding: 1rem;
    border-radius: 10px;
}

@media screen and (min-width: 1000px) {
    .comment-ratings {
        flex-direction: column;
        padding: 2rem 0rem;
        width: 60px;
    }
}

.rating-plus, .rating-minus {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.rating-plus > img, .rating-minus > img {
    width: 14px;
}

@media screen and (min-width: 1000px) {
    .rating-plus > img, .rating-minus > img {
        width: 20px;
    }

    .rating-count > p {
        font-size: 2rem;
    }
}

.comment-body {
    flex-basis: 90%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.comment-user {
    display: flex;
    align-items: center;
    gap: 20px;
}

.comment-profileimg, .post-profileimg > img {
    width: 40px;
}

@media screen and (min-width: 1000px) {
    .comment-profileimg, .post-profileimg > img {
        width: 50px;
    }
}

.comment-actions {
    color: hsl(240, 100%, 60%);
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

@media screen and (min-width: 1000px) {
    .comment-actions {
        top: 2rem;
    }
}