.Comments {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
}

.comment-content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.comment {
    background-color: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    gap: 15px;
    position: relative;
    padding: 2rem;
    border-radius: 10px;
}

@media screen and (min-width: 1000px) {
    .comment {
        flex-direction: row;
        gap: 30px;
    }
}

.reply-comment {
    margin-left: 20px;
}

@media screen and (min-width: 1000px) {
    .reply-comment {
        margin-left: 100px;
    }
}

.reply-comment::before {
    background-color: hsl(0, 0%, 80%);
    content: " ";
    position: absolute;
    left: -13px;
    top: 0;
    width: 1px;
    height: 100%;
}

.reply-comment + .reply-comment::before {
    top: -2rem;
    height: calc(100% + 2rem);
}

@media screen and (min-width: 1000px) {
    .reply-comment::before {
        left: -50px;
    }
}

.comment-ratings-wrapper {
    display: flex;
}

.comment-ratings {
    background-color: hsl(240, 100%, 98%);
    color: hsl(240, 100%, 60%);
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 1rem 3rem;
    border-radius: 10px;
}

@media screen and (min-width: 1000px) {
    .comment-ratings {
        flex-direction: column;
        padding: 1rem 2rem;
    }
}

.comment-body {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.comment-user {
    display: flex;
    gap: 20px;
}

@media screen and (min-width: 1000px) {
    .comment-user {
        gap: 50px;
    }
}

.comment-actions {
    color: hsl(240, 100%, 60%);
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

@media screen and (min-width: 1000px) {
    .comment-actions {
        top: 2rem;
    }
}